<!-- begin comments -->
<div class="comments">
  <div id="gisqus_thread"></div>
  <script src="https://giscus.app/client.js"
        data-repo="smbct/ecotopo_pyrenees"
        data-repo-id="R_kgDOMhJDKA"
        data-category="Announcements"
        data-category-id="DIC_kwDOMhJDKM4Chfo0"
        data-mapping="title"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="preferred_color_scheme"
        data-lang="fr"
        crossorigin="anonymous"
        async>
</script>
  <noscript>Please enable JavaScript to view the comments powered by gisqus.</a>
  </noscript>
</div>
<!-- end comments -->